<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MaxRecordCount" value="100000"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultCS" connectionString="Data Source=localhost;Initial Catalog=DemoDB;Integrated Security=True;" />
  </connectionStrings>
</configuration>